@import url(./font.css);

.header,
.container,
.footer {
    width: 100%;
}


.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* 
    (ie) font-size에 맞춰서
    line-height, height 각각 지정해주기
  */
}

.banner_title {
  font-size: 1.8em;
  font-weight: 600;
  color: #253b5c;
}
.font-pink {
  color: #dd2676;
}
.font-blue {
  color: #296ed6;
  font-weight: 600;
}

.header {
  position: fixed;
  width: 100%;
  height: 6.25em;
  border-bottom: 1px solid #eee;
}
.container {
  width: 100%;
  overflow: hidden;
}
.main_visual_wrapper {
  width: 100%;
  height: 90vh;
  position: relative;
}
.section {
  width: 100%;
  padding: 0 5em;
}
.main_visual {
  width: 100%;
  height: 100%;
}
.main_visual [class*="slide"] {
  width: 100%;
  height: 90vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.main_visual .slide1 {
  background-image: url(../images/main/202211171723_jarsRf0.jpg);
}
.main_visual .slide2 {
  background-image: url(../images/main/202211171724_iadTLon.jpg);
}
.main_visual .slide3 {
  background-image: url(../images/main/202211171743_pXGpQ7Q.jpg);
}
.main_visual .slide4 {
  background-image: url(../images/main/202211171749_UPbG8nO.jpg);
}
.main_visual .slide5 {
  background-image: url(../images/main/202211171838_ulP1cz5.jpg);
}
.main_visual .slide6 {
  background-image: url(../images/main/202211171842_QKAf1ne.jpg);
}

.main_visual_contents {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.main_visual_title {
  width: 37.5em;
  height: 8.75em;
  margin: 0 auto;
}
.main_visual_link {
  display: inline-block;
  padding: 0.5em 1.25em;
  margin: 1em 0 0 0;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 600;
  color: #153176;
  background-color: #fff;
  border-radius: 2em;
}
.main_visual_link::after {
  content: '';
  display: block;
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-left: 0.25em;
  background-image: url(../images/arrow_main_visual_more.png);
  background-repeat: no-repeat;
  background-position: top;
}
.main_visual_subtext {
  position: absolute;
  bottom: 4em;
  left: 0;
  width: 100%;
  padding: 0 1em 0;
  font-size: 1em;
  font-weight: 500;
  text-align: right;
  color: #fff;
}

.slick-dotted.main_visual {
  margin-bottom: 0;
}
.main_visual_controller {
  position: absolute;
  height: 4em;
  bottom: 0;
  right: 0;
}
.main_visual_controller button[class*="main_visual_"] {
  width: 1.25em;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin: 0 1em;
}
.main_visual_prev {
  background-image: url(../images/main_visual_prev.png);
}
.main_visual_next {
  background-image: url(../images/main_visual_next.png);
}
.main_visual_play {
  background-image: url(../images/main_visual_play.png);
}
.main_visual_pause {
  background-image: url(../images/main_visual_pause.png);
}
.main_visual_play,
.main_visual_pause {
  display: none;
}
.main_visual_play.on,
.main_visual_pause.on {
  display: inline-block;
}

.main_visual_paging {
  width: auto;
  height: 100%;
  line-height: 4em;
  float: left;
}
.main_visual_paging .slick-dots {
  position: relative;
  bottom: 0;
}
.main_visual_paging .slick-dots li {
  display: none;
  width: auto;
  height: 100%;
  font-size: 1.25em;
  color: #fff;
  font-weight: 600;
}
.main_visual_paging .slick-dots li.slick-active {
  display: inline-block;
}

.quickmenu_wrapper {
  position: relative;
  padding: 4em 0;
}
.quickmenu_controller {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.quickmenu_controller button[class*="arrow_board_"] {
  display: none;
  width: 2.875em;
  height: 2.875em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.arrow_board_prev {
  background-image: url(../images/arrow_review_board_prev.png);
  left: -3em;
}
.arrow_board_next {
  background-image: url(../images/arrow_review_board_next.png);
  right: -3em;
}

.quickmenu {
  width: 100%;
  background-color: #153176;
}
.quickmenu [class*="slide"] {
  width: 100%;
  background-repeat: no-repeat;
  background-color: #eee;
  font-weight: 500;
  text-align: center;
}
.quickmenu [class*="slide"] .icon {
  width: 5em;
  height: 5em;
  margin: 0 auto;
  background-image: url('../images/img_quick_menu.png');
}
.quickmenu .slide1 .icon {
  background-position: 0.4em 0.6em;
}
.quickmenu .slide2 .icon {
  background-position: 39.5em 0.6em;
}

.quickmenu [class*="slide"] .quickmenu_title {
  cursor: pointer;
  font-size: 1.25em;
}
.quickmenu [class*="slide"] .blank::after {
  content: '';
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  margin-left: 0.4em;
  background-image: url(../images/btn_blank.png);
  background-repeat: no-repeat;
  background-position: center;
}
.quickmenu [class*="slide"]:hover {
  color: #153176;
}
.quickmenu [class*="slide"]:hover .blank::after {
  background-image: url(../images/btn_blank_on.png);
}

.imgbanner_wrapper {
  position: relative;
  margin-bottom: 5em;
  width: 100%;
  overflow: hidden;
  padding: 1em;
  border: 1px solid #cccccc;
  box-shadow: 0px 5px 10px 0px #dddddd;
}
.imgbanner_controller {
  width: 100%;
  height: 2.875em;
  position: absolute;
  top: 0;
  right: 0;
}
.imgbanner,
.imgbanner [class*="slide"] {
  height: 100%;
}
[class*="slide"] [class*="imgbanner_"] {
  float: left;
  /* margin: 0 5% 0 0; */
}
.imgbanner_image {
  width: 40%;
}
.imgbanner_text {
  width: 50%;
  font-size: 1.375em;
  color: #555555;

  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
}
.imgbanner_subtitle {
  font-size: 0.625em;
}
.imgbanner_info {
  width: 100%;
  height: 10em;
}
.imgbanner_info.ellipsis {
  line-height: 1.375em;
  height: 2.75em;
}
[class*="imgbanner_info_"]::before {
  content: '';
  display: inline-block;
  width: 1.250em;
  height: 1.250em;
  margin: 0 0.325em 0.325em  0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  vertical-align: middle;
}
.imgbanner_info_address::before {
  background-image: url(../images/ico_address1.png);
}
.imgbanner_info_tel::before {
  background-image: url(../images/ico_tel1.png);
}