@import url(./font.css);

.header,
.container,
.footer {
    width: 100%;
}
.header {
  position: fixed;
  width: 100%;
  height: 6.25em;
  border-bottom: 1px solid #eee;
}
.container {
  width: 100%;
  overflow: hidden;
}
.main_visual_wrapper {
  width: 100%;
  height: 90vh;
  position: relative;
}
.section {
  width: 100%;
  padding: 0 5em;
}
.main_visual {
  width: 100%;
  height: 100%;
}
.main_visual [class*="slide"] {
  width: 100%;
  height: 90vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.main_visual .slide1 {
  background-image: url(../images/mainImg/202211171723_jarsRf0.jpg);
}
.main_visual .slide2 {
  background-image: url(../images/mainImg/202211171724_iadTLon.jpg);
}
.main_visual .slide3 {
  background-image: url(../images/mainImg/202211171743_pXGpQ7Q.jpg);
}
.main_visual .slide4 {
  background-image: url(../images/mainImg/202211171749_UPbG8nO.jpg);
}
.main_visual .slide5 {
  background-image: url(../images/mainImg/202211171838_ulP1cz5.jpg);
}
.main_visual .slide6 {
  background-image: url(../images/mainImg/202211171842_QKAf1ne.jpg);
}

.main_visual_contents {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.main_visual_title {
  width: 37.5em;
  height: 8.75em;
  margin: 0 auto;
}
.main_visual_link {
  display: inline-block;
  padding: 0.5em 1.25em;
  margin: 1em 0 0 0;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 600;
  color: #153176;
  background-color: #fff;
  border-radius: 2em;
}
.main_visual_link::after {
  content: '';
  display: block;
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-left: 0.25em;
  background-image: url(../images/arrow_main_visual_more.png);
  background-repeat: no-repeat;
  background-position: top;
}
.main_visual_subtext {
  position: absolute;
  bottom: 4em;
  left: 0;
  width: 100%;
  padding: 0 1em 0;
  font-size: 1em;
  font-weight: 500;
  text-align: right;
  color: #fff;
}

.slick-dotted.main_visual {
  margin-bottom: 0;
}
.main_visual_controller {
  position: absolute;
  height: 4em;
  bottom: 0;
  right: 0;
}
.main_visual_controller button[class*="main_visual_"] {
  width: 1.25em;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin: 0 1em;
}
.main_visual_prev {
  background-image: url(../images/main_visual_prev.png);
}
.main_visual_next {
  background-image: url(../images/main_visual_next.png);
}
.main_visual_play {
  background-image: url(../images/main_visual_play.png);
}
.main_visual_pause {
  background-image: url(../images/main_visual_pause.png);
}
.main_visual_play,
.main_visual_pause {
  display: none;
}
.main_visual_play.on,
.main_visual_pause.on {
  display: inline-block;
}

.main_visual_paging {
  width: auto;
  height: 100%;
  line-height: 4em;
  float: left;
}
.main_visual_paging .slick-dots {
  position: relative;
  bottom: 0;
}
.main_visual_paging .slick-dots li {
  display: none;
  width: auto;
  height: 100%;
  font-size: 1.25em;
  color: #fff;
  font-weight: 600;
}
.main_visual_paging .slick-dots li.slick-active {
  display: inline-block;
}

.quickmenu_wrapper {
  width: 100%;
  /* height: 10em; */
  background-color: #153176;
}
[class*="quickmenu"] {
  width: 100%;
  /* height: 100%; */
  padding: 2em 0;
  background-repeat: no-repeat;
  background-color: #eee;
}
[class*="quickmenu"] .icon {
  width: 5em;
  height: 5em;
  margin: 0 auto;
  background-image: url('../images/img_quick_menu.png');
}
[class*="quickmenu"] .title {
  text-align: center;
}
.quickmenu1 .icon {
  background-position: 0.4em 0.6em;
}
.quickmenu2 .icon {
  background-position: 39.5em 0.6em;
}
[class*="quickmenu"]:hover {
  cursor: pointer;
  background-position: 0.4em 5em;
}