.popup_wrap {
    position: fixed;
    top: 6.25em;
    left: 0.8125em;
    z-index: 999;
    width: 22em;
    height: 30em;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
}
.popup_image {
    width: 22em;
    height: 28.75em;
    padding: 1em;
    overflow: hidden;
}
.popup_image ul {
    position: absolute;
    bottom: 0;
    width: auto;
    float: left;
}
.popup_image ul li {
    width: 1.25em;
    height: 1.25em;
    margin: 0 2px;
    border: 1px solid #43466d;
    border-radius: 50%;
    background-color: #ffffff;
}
.popup_image ul li button {
    display: none;
}
.popup_image ul li.slick-active {
    border: 1px solid #7b8dc1;
    background-color: #7b8dc1;
}

.popup_bottom {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: right;
}
.popup_bottom .popup_checkbox,
.popup_bottom #close_btn {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.popup_bottom .popup_checkbox {
    width: 1.875em;
    height: 1.875em;
    background-image: url(../images/btn_check.png);
}
.popup_bottom .popup_checkbox:checked {
    background-image: url(../images/btn_check_on.png);
}
.popup_bottom #close_btn {
    width: 1.25em;
    height: 1.25em;
    margin-left: 0.5em;
    background-image: url(../images/popup_close.gif);
    cursor: pointer;
}
.popup_bottom label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.125em;
    font-weight: 400;
}
