.popup_wrap {
  position: fixed;
  top: 5em;
  left: 1.25em;
  z-index: 999;
  width: 282px;
  height: 360px;
  margin: 0 auto;
  border: 1px solid #777777;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 640px) {
  .popup_wrap {
    top: 4.5em;
  }
}
.popup_image {
  width: 270px;
  height: 300px;
  margin: 6px;
}
.popup_image a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.popup_image a img {
  width: 100%;
  height: 100%;
}
.popup_image .slick-track,
.popup_image .slick-list {
  height: 100%;
}
.popup_image .slick-track .slick-slide div,
.popup_image .slick-list .slick-slide div {
  height: 100%;
}
.popup_image ul.slick-dots {
  position: absolute;
  bottom: -34px;
  left: 5px;
  width: auto;
  height: 16px;
}
.popup_image ul.slick-dots li {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  border: 1px solid #43466d;
  border-radius: 50%;
  background-color: #ffffff;
}
.popup_image ul.slick-dots li button {
  display: none;
}
.popup_image ul.slick-dots li.slick-active {
  border: 1px solid #7b8dc1;
  background-color: #7b8dc1;
}

.popup_bottom {
  position: absolute;
  bottom: 16px;
  right: 6px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
}
.popup_bottom .popup_checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px 0 0;
  background-image: url(../images/btn_check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  vertical-align: middle;
}
.popup_bottom .popup_checkbox:checked {
  background-image: url(../images/btn_check_on.png);
}
.popup_bottom label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
}
.popup_bottom #close_btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 0 4px;
  background-image: url(../images/popup_close.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  cursor: pointer;
}